page-onboarding {
	@media(min-width: 768px){
		max-width: 550px;
		.scroll-content{
			overflow-y: auto;
		}
	}

	.slide-zoom {
	  height: 100%;
	  background-color: #fff;
	}

	.slide-title {
	  margin-top: 3.0rem;
	  margin-bottom: 0.8rem;
	  color: $dark-text;
	  font-size: 17.2px;
	}

	.slide-image {
	  // max-height: 50%;
	  	max-width: 232px;
	    max-width: 61.6%;
	    margin-bottom: 1rem;
	  // margin: 18px 0;
	  &.top-space{
	  	max-width: 306px;
	  	max-width: 81.6%;
	  	margin-top: 55px;
	  	margin-bottom: 0;
	  }
	}

	@media(max-width: 320px){
		.slide-image{
			max-width: 56.6%;
			&.top-space{
				max-width: 71.6%
			}
		}
	}

	p{
		font-size: 15.1px;
		color: $light-text;
		font-weight: 500;
		max-width: 65%;
		margin: auto;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets{
		// bottom: 48px;
		top: 77.3vh;
	}
	.swiper-pagination-bullet{
		width: 6px;
		height: 6px;
		background-color: #ccd1e3;
		opacity: 1;
		&-active{
			background-color: $light-text;
		}
	}
}
