
.show-page{
	.content{
		// background-color: $background;
		color: $dark-text;
	}
}

.flex {
	display: flex;
}
.space-between{
	justify-content: space-between;
}

.vertical-align-center{
	align-items: center;
}

.font-weight-medium{
	font-weight: 500 !important;
}
.font-weight-heavy{
	font-weight: 700 !important;
}

.dark-text{
	color: $dark-text !important;
}

.swiper-wrapper{
	align-items: center;
}

@media(max-width: 767px){
	.mobile-hidden{
		display: none;
	}
}