$bt-grey: #f6f5f0;

$green: #65bd60;
$dark-gray-icons: #c5c5cb;
$background: #f7f7f7;
$lining: #ecebeb;
$notifications: #ed1c24;
$cta: #386eb5;
$light-text: #8892a2;
$dark-text: #1c232f;
$icons: #13131d;