<ion-split-pane>
<ion-menu [content]="content">
    <ion-card-header padding-left padding-top padding-bottom text-uppercase class="card-wp-primary">
      <div padding-top padding-bottom margin-top margin-bottom text-center style="font-weight: bold">
        Project J
      </div>
    </ion-card-header>

      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" >
          {{p.title}}
        </button>
      </ion-list>

  </ion-menu>

  <ion-content main #content swipeBackEnabled="false">

    <ion-header>

      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Add a Job</ion-title>
      </ion-navbar>

    </ion-header>


    <ion-content padding>
      <form [formGroup]="jobsForm" (submit)="saveJob()" novalidate>

        <ion-card>
          <ion-card-header padding-left class="card-wp-primary">Contact &amp; Workplace Info</ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col col-12 col-md-6>
                  <ion-item>
                    <ion-label stacked>Applications to be sent to</ion-label>
                    <ion-input autofocus #application_sent_mail formControlName="application_sent_mail" type="email" placeholder="Enter Email Address" [class.invalid]="!jobsForm.controls.application_sent_mail.valid && (jobsForm.controls.application_sent_mail.dirty  || jobsForm.controls.application_sent_mail.touched)"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!jobsForm.controls.application_sent_mail.valid  && (jobsForm.controls.application_sent_mail.dirty  || jobsForm.controls.application_sent_mail.touched)">
                    <p>Please enter a valid email address.</p>
                  </ion-item>
            
                </ion-col>

                <ion-col col-12 col-md-6>
                  <ion-item>
                    <ion-label stacked>Workplace</ion-label>
                    <ion-select #workplace formControlName="workplace" [class.invalid]="!jobsForm.controls.workplace.valid && (jobsForm.controls.workplace.dirty  || jobsForm.controls.workplace.touched)">
                        <ion-option *ngFor="let workplaceType of workplaceTypes" value="{{workplaceType.key}}" [selected]="workplaceType.key == company">{{workplaceType.value}}</ion-option>
                        <!-- <ion-option value="domestic">Domestic</ion-option>
                        <ion-option value="company">Company</ion-option> -->
                    </ion-select>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!jobsForm.controls.workplace.valid  && (jobsForm.controls.workplace.dirty  || jobsForm.controls.workplace.touched)">
                    <p>Please enter a valid workplace.</p>
                  </ion-item>
                </ion-col>

                <ion-col col-12 col-md-6>
                  <ion-item>
                    <ion-label stacked>Workplace Name</ion-label>
                    <ion-input #workplace_name formControlName="workplace_name" type="text" placeholder="Enter Workplace name" [class.invalid]="!jobsForm.controls.workplace_name.valid && (jobsForm.controls.workplace_name.dirty  || jobsForm.controls.workplace_name.touched)"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!jobsForm.controls.workplace_name.valid  && (jobsForm.controls.workplace_name.dirty  || jobsForm.controls.workplace_name.touched)">
                    <p>Please enter a valid workplace name.</p>
                  </ion-item>
                </ion-col>

                <ion-col col-12 col-md-6>
                  <ion-item>
                    <ion-label stacked>Mobile</ion-label>
                    <ion-input #mobile formControlName="mobile" type="tel" placeholder="Enter Mobile number" [class.invalid]="!jobsForm.controls.mobile.valid && (jobsForm.controls.mobile.dirty  || jobsForm.controls.mobile.touched)"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!jobsForm.controls.mobile.valid  && (jobsForm.controls.mobile.dirty  || jobsForm.controls.mobile.touched)">
                    <p>Please enter a valid mobile number.</p>
                  </ion-item>
                </ion-col>


                <ion-col col-12 col-md-6>
                  <ion-item>
                    <ion-label stacked>Address</ion-label>
                    <ion-input #workplace_address formControlName="workplace_address" type="text" placeholder="Enter Address" [class.invalid]="!jobsForm.controls.workplace_address.valid && (jobsForm.controls.workplace_address.dirty  || jobsForm.controls.workplace_address.touched)"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!jobsForm.controls.workplace_address.valid  && (jobsForm.controls.workplace_address.dirty  || jobsForm.controls.workplace_address.touched)">
                    <p>Please enter a valid address.</p>
                  </ion-item>
                </ion-col>
                <ion-col col-12 col-md-3>
                  <ion-item>
                    <ion-label stacked>Latitude</ion-label>
                    <ion-input  #workplace_latitude formControlName="workplace_latitude" type="text" placeholder="Enter Latitude" [class.invalid]="!jobsForm.controls.workplace_latitude.valid && (jobsForm.controls.workplace_latitude.dirty  || jobsForm.controls.workplace_latitude.touched)"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!jobsForm.controls.workplace_latitude.valid  && (jobsForm.controls.workplace_latitude.dirty  || jobsForm.controls.workplace_latitude.touched)">
                    <p>Please enter a valid latitude.</p>
                  </ion-item>
                </ion-col>
                <ion-col col-12 col-md-3>
                  <ion-item>
                    <ion-label stacked>Longitude</ion-label>
                    <ion-input  #workplace_longitude formControlName="workplace_longitude" type="text" placeholder="Enter Longitude" [class.invalid]="!jobsForm.controls.workplace_longitude.valid && (jobsForm.controls.workplace_longitude.dirty  || jobsForm.controls.workplace_longitude.touched)"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!jobsForm.controls.workplace_longitude.valid  && (jobsForm.controls.workplace_longitude.dirty  || jobsForm.controls.workplace_longitude.touched)">
                    <p>Please enter a valid longitude.</p>
                  </ion-item>
                </ion-col>

              </ion-row>


              <ion-label padding-left>
                Contact via
              </ion-label>
              <ion-row >
                <ion-col class="item item-checkbox" *ngFor="let contactVia of contactVias;let ind=index"  col-12 col-sm>
                  <!-- <ion-item-group  > -->
                  <!-- <input type="checkbox" formControlName="isChosen" /> {{hobby.controls.name.value}} -->
                    <ion-item  >
                        {{contactVia.value}}
                      <label class = "checkbox">
                          <input #contact_via formControlName="contact_via" type="checkbox" value="{{contactVia.key}}" [checked]="ind == 0" /> 
                      </label>
                      
                      <!-- <ion-checkbox value="{{contactVia.key}}"></ion-checkbox> -->
                    </ion-item>
                  <!-- </ion-item-group> -->
              </ion-col>
              <ion-item class="error-message" *ngIf="!jobsForm.controls.contact_via.valid  && (jobsForm.controls.contact_via.dirty  || jobsForm.controls.contact_via.touched)">
                  <p>Please enter a valid contact means.</p>
                </ion-item>
            </ion-row>
              <!-- <ion-row formArrayName="contactViaList">
                      <ion-col *ngFor="let contactVia of contactViaList.controls"  col-12 col-sm>
                        <!-- <input type="checkbox" formControlName="isChosen" /> {{hobby.controls.name.value}} -->
                        <!-- <ion-item>
                          <ion-label>{{contactVia.controls.name.value}}</ion-label> -->
                            <!-- <ion-checkbox #contact_via formControlName="contact_via"  checked="true" ></ion-checkbox> -->
                          <!-- </ion-item>

                    </ion-col>
              </ion-row>  -->

              <!-- <ion-row>
                  <ion-col col-12 col-sm>
                  <ion-item>
                  <ion-label>Email</ion-label>
                    <ion-checkbox #contact_via formControlName="contact_via"  checked="true" value="email"></ion-checkbox>
                  </ion-item>
              </ion-col>
              <ion-col col-12 col-sm>
                  <ion-item>
                  <ion-label>Whatsapp</ion-label>
                    <ion-checkbox   #contact_via formControlName="contact_via" value="whatsapp"></ion-checkbox>
                  </ion-item>
              </ion-col>
              <ion-col col-12 col-sm>
                    <ion-item>
                    <ion-label>WeChat</ion-label>
                      <ion-checkbox   #contact_via formControlName="contact_via" value="wechat"></ion-checkbox>
                    </ion-item>
              </ion-col>
              <ion-col col-12 col-sm>
                    <ion-item>
                    <ion-label>Line</ion-label>
                      <ion-checkbox  #contact_via formControlName="contact_via" value="line"></ion-checkbox>
                    </ion-item>
              </ion-col>
              <ion-col col-12 col-sm>
                    <ion-item>
                    <ion-label>Phone</ion-label>
                      <ion-checkbox  #contact_via formControlName="contact_via" value="phone"></ion-checkbox>
                    </ion-item>
              </ion-col>
            </ion-row> -->
            </ion-grid>
        </ion-card>

        <ion-card margin-top>
          <ion-card-header padding-left class="card-wp-primary">Job Details</ion-card-header>
          <ion-grid>
            <ion-row>
                <ion-col col-12 col-md-6>
                  <ion-item>
                    <ion-label stacked>Designation</ion-label>
                    <ion-input [class.invalid]="!jobsForm.controls.designation.valid && (jobsForm.controls.designation.dirty  || jobsForm.controls.designation.touched)" #designation formControlName="designation" type="text" placeholder="Enter Designation"></ion-input>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!jobsForm.controls.designation.valid  && (jobsForm.controls.designation.dirty  || jobsForm.controls.designation.touched)">
                    <p>Please enter a valid designation.</p>
                  </ion-item>
                </ion-col>
                <ion-col col-12 col-md-6>
                  <ion-item>
                    <ion-label>Industry</ion-label>
                    <ion-select [class.invalid]="!jobsForm.controls.industry.valid && (jobsForm.controls.industry.dirty  || jobsForm.controls.industry.touched)" #industry formControlName="industry" interface="popover" placeholder="--" (ionChange)="populateSubIndustry(industry.value)">
                        <!-- <ion-select [(ngModel)]="industry" name="industry" interface="popover" placeholder="--"> -->
                          
                          <ion-option *ngFor="let industry of industries" value="{{industry.key}}">{{industry.value}}</ion-option>
                          
                          <!-- <ion-option value="1">Industry 1</ion-option>
                          <ion-option value="2">Industry 2</ion-option> -->
                    </ion-select>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!jobsForm.controls.industry.valid  && (jobsForm.controls.industry.dirty  || jobsForm.controls.industry.touched)">
                    <p>Please enter a valid industry.</p>
                  </ion-item>
                </ion-col>
                <ion-col col-12 col-md-6>
                  <ion-item>
                    <ion-label>Sub-Industry</ion-label>
                    <ion-select  [class.invalid]="!jobsForm.controls.sub_industry.valid && (jobsForm.controls.sub_industry.dirty  || jobsForm.controls.sub_industry.touched)" #sub_industry formControlName="sub_industry" name="subindustry" interface="popover" placeholder="--">
                        <!-- <ng-container *ngIf="subindustry?.length > 0"> -->
                          <ion-option *ngFor="let subindustry of subindustries" value="{{subindustry.key}}">{{subindustry.value}}</ion-option>
                        <!-- </ng-container>   -->
                        
                          <!-- <ion-option value="1">Sub-Industry 1</ion-option>
                          <ion-option value="2">Sub-Industry 2</ion-option> -->
                    </ion-select>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!jobsForm.controls.sub_industry.valid  && (jobsForm.controls.sub_industry.dirty  || jobsForm.controls.sub_industry.touched)">
                    <p>Please enter a valid sub industry.</p>
                  </ion-item>
                </ion-col>
                <ion-col col-12 col-md-6>
                  <ion-item>
                    <ion-label>Type</ion-label>
                    <ion-select  [class.invalid]="!jobsForm.controls.type.valid && (jobsForm.controls.type.dirty  || jobsForm.controls.type.touched)" #type formControlName="type" name="type" interface="popover" placeholder="--">
                        <ion-option *ngFor="let type of types" value="{{type.key}}">{{type.value['text']}}</ion-option>
                          <!-- <ion-option value="1">Type 1</ion-option>
                          <ion-option value="2">Type 2</ion-option> -->
                    </ion-select>
                  </ion-item>
                  <ion-item class="error-message" *ngIf="!jobsForm.controls.type.valid  && (jobsForm.controls.type.dirty  || jobsForm.controls.type.touched)">
                    <p>Please enter a valid type.</p>
                  </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12 >
                  <ion-label padding-left >Employment Type</ion-label>
                  <ion-row radio-group #employment_type formControlName="employment_type">
                    <ion-col  col-12 col-md-4 *ngFor="let empType of empTypes;let idx = index">
                      <ion-item>
                        <ion-label>{{empType.value}}</ion-label>
                        <ion-radio  value="{{empType.key}}" [checked]="idx === 0"></ion-radio>
                      </ion-item>
                      
                    </ion-col>
                    <ion-item class="error-message" *ngIf="!jobsForm.controls.employment_type.valid  && (jobsForm.controls.employment_type.dirty  || jobsForm.controls.employment_type.touched)">
                      <p>Please enter a valid employment type.</p>
                    </ion-item>

                    <!-- <ion-item>
                      <ion-label>Permanent</ion-label>
                      <ion-radio checked="true" value="permanent"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>Part-time</ion-label>
                      <ion-radio value="parttime"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>Contract Based</ion-label>
                      <ion-radio value="contract"></ion-radio>
                    </ion-item> -->
                  </ion-row>
                </ion-col>

                <ion-col col-12>
                  <ion-row>
                    <ion-col col-6>
                      <ion-item>
                        <ion-label stacked>Salary</ion-label>
                        <ion-input [class.invalid]="!jobsForm.controls.salary_amount.valid && (jobsForm.controls.salary_amount.dirty  || jobsForm.controls.salary_amount.touched)" #salary_amount formControlName="salary_amount" type="number" placeholder="Enter Salary"></ion-input>
                      </ion-item>
                      <ion-item class="error-message" *ngIf="!jobsForm.controls.salary_amount.valid  && (jobsForm.controls.salary_amount.dirty  || jobsForm.controls.salary_amount.touched)">
                        <p>Please enter valid salary amount.</p>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item padding-top>
                        <ion-label>per</ion-label>
                        <ion-select [class.invalid]="!jobsForm.controls.salary_unit.valid && (jobsForm.controls.salary_unit.dirty  || jobsForm.controls.salary_unit.touched)" #salary_unit formControlName="salary_unit" name="salary" interface="popover" placeholder="--">

                             <ion-option *ngFor="let salaryUnit of salaryUnits" value="{{salaryUnit.key}}">{{salaryUnit.value}}</ion-option>
                             <!-- <ion-option value="1">10k</ion-option>
                              <ion-option value="2">20k</ion-option> -->
                        </ion-select>
                      </ion-item>
                      <ion-item class="error-message" *ngIf="!jobsForm.controls.salary_unit.valid  && (jobsForm.controls.salary_unit.dirty  || jobsForm.controls.salary_unit.touched)">
                        <p>Please enter a valid salary unit.</p>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
            </ion-row>

              <ion-row>
                  <ion-col col-12 >
                    <ion-label padding-left no-margin>Work Schedule</ion-label>
                  </ion-col>
                  <ion-col col-12 col-md-3>
                <ion-card>
                    <ion-list>
                      <ion-list-header no-margin>
                        Mon
                      </ion-list-header>
                      <ion-item>
                        <ion-label>Start Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--"></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>End Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--"></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Holiday</ion-label>
                        <ion-checkbox></ion-checkbox>
                      </ion-item>
                    </ion-list>
                </ion-card>
              </ion-col>

              <ion-col col-12 col-md-3>
                <ion-card>
                    <ion-list>
                      <ion-list-header no-margin>
                        Tue
                      </ion-list-header>
                      <ion-item>
                        <ion-label>Start Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>End Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Holiday</ion-label>
                        <ion-checkbox></ion-checkbox>
                      </ion-item>
                    </ion-list>
                  </ion-card>
              </ion-col>

              <ion-col col-12 col-md-3>
                  <ion-card>
                    <ion-list>
                      <ion-list-header no-margin>
                        Wed
                      </ion-list-header>
                      <ion-item>
                        <ion-label>Start Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>End Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Holiday</ion-label>
                        <ion-checkbox></ion-checkbox>
                      </ion-item>
                    </ion-list>
                  </ion-card>
              </ion-col>

              <ion-col col-12 col-md-3>
                  <ion-card>
                    <ion-list>
                      <ion-list-header no-margin>
                        Thu
                      </ion-list-header>
                      <ion-item>
                        <ion-label>Start Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>End Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Holiday</ion-label>
                        <ion-checkbox></ion-checkbox>
                      </ion-item>
                    </ion-list>
                  </ion-card>
              </ion-col>

              <ion-col col-12 col-md-3>
                  <ion-card>
                    <ion-list>
                      <ion-list-header no-margin>
                        Fri
                      </ion-list-header>
                      <ion-item>
                        <ion-label>Start Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>End Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Holiday</ion-label>
                        <ion-checkbox></ion-checkbox>
                      </ion-item>
                    </ion-list>
                  </ion-card>
              </ion-col>

              <ion-col col-12 col-md-3>
                  <ion-card>
                    <ion-list>
                      <ion-list-header no-margin>
                        Sat
                      </ion-list-header>
                      <ion-item>
                        <ion-label>Start Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>End Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Holiday</ion-label>
                        <ion-checkbox></ion-checkbox>
                      </ion-item>
                    </ion-list>
                  </ion-card>
              </ion-col>

              <ion-col col-12 col-md-3>
                  <ion-card>
                    <ion-list>
                      <ion-list-header no-margin>
                        Sun
                      </ion-list-header>
                      <ion-item>
                        <ion-label>Start Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>End Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="--" ></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Holiday</ion-label>
                        <ion-checkbox></ion-checkbox>
                      </ion-item>
                    </ion-list>
                  </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card margin-top>
          <ion-card-header padding-left class="card-wp-primary">Employee Benefits</ion-card-header>
          <ion-grid>
            <ion-row>
                <ion-col col-12 col-md-4>
                  <ion-item>
                    <ion-label>Meal at work</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-input type="text" placeholder="Say something about this"></ion-input>
                  </ion-item>
              </ion-col>
                <ion-col col-12 col-md-4>
                  <ion-item>
                    <ion-label>Perks &amp; Bonus</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-input type="text" placeholder="Say something about this"></ion-input>
                  </ion-item>
              </ion-col>
                <ion-col col-12 col-md-4>
                  <ion-item>
                    <ion-label>Food Coupon</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-input type="text" placeholder="Say something about this"></ion-input>
                  </ion-item>
              </ion-col>
                <ion-col col-12 col-md-4>
                  <ion-item>
                    <ion-label>Increment</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-input type="text" placeholder="Say something about this"></ion-input>
                  </ion-item>
              </ion-col>
                <ion-col col-12 col-md-4>
                  <ion-item>
                    <ion-label>Health Insurance</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-input type="text" placeholder="Say something about this"></ion-input>
                  </ion-item>
              </ion-col>
                <ion-col col-12 col-md-4>
                  <ion-item>
                    <ion-label>Social Security</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-input type="text" placeholder="Say something about this"></ion-input>
                  </ion-item>
              </ion-col>
                <ion-col col-12 col-md-4>
                  <ion-item>
                    <ion-label>Travel Allowance</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-input type="text" placeholder="Say something about this"></ion-input>
                  </ion-item>
              </ion-col>
                <ion-col col-12 col-md-4>
                  <ion-item>
                    <ion-label>Performance Benefits</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-input type="text" placeholder="Say something about this"></ion-input>
                  </ion-item>
              </ion-col>
                <ion-col col-12>
                  <ion-label padding-left>More about this role</ion-label>
                  <ion-item>
                    <ion-input type="text" placeholder="Additional Information"></ion-input>
                  </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card margin-top>
          <ion-card-header padding-left class="card-wp-primary">Questions</ion-card-header>
          <ion-grid>
            <ion-row radio-group>
              <ion-col col-12 col-md-4>
                <ion-label padding-left>
                  Ask a question?
                </ion-label>
              </ion-col>
                <ion-col col-12 col-md-4>
                    <ion-item>
                      <ion-label>Yes</ion-label>
                      <ion-radio checked="true" value="yes"></ion-radio>
                    </ion-item>
              </ion-col>

              <ion-col col-12 col-md-4>
                  <ion-item>
                    <ion-label>No</ion-label>
                    <ion-radio value="no"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-12 col-md-6>
                  <!-- <ion-select [(ngModel)]="question" name="question" interface="popover" placeholder="Select a Question">
                        <ion-option value="1">Question 1</ion-option>
                        <ion-option value="2">Question 2</ion-option>
                  </ion-select> -->
                </ion-col>
                <ion-col col-12 col-md-6>
                  <ion-item>
                    <!-- <ion-select [(ngModel)]="question_type" name="question_type" interface="popover" placeholder="--">
                          <ion-option value="1" selected>Multiple Choice</ion-option>
                          <ion-option value="2">Radio Buttons</ion-option>
                    </ion-select> -->
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-1 col-md-1>
                  <ion-item>
                    <ion-radio value="value"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col col-5 col-md-8>
                  <ion-item>
                    <ion-input type="text" placeholder="Add an answer"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1 col-md-1>
                  <ion-item>
                    <ion-radio value="value"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col col-5 col-md-8>
                  <ion-item>
                    <ion-input type="text" placeholder="Add an answer"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-5 col-md-3 text-right>
                  <button ion-button outline small type="button">
                    + Add Option
                  </button>
                </ion-col>
              </ion-row>

              <ion-buttons end>
                <button ion-button outline>
                  Add a Question
                </button>
              </ion-buttons>
          </ion-grid>
        </ion-card>

        <ion-grid>
          <ion-row>
            <ion-col col-12 col-md-6>
              <button ion-button outline type="button">
                Send for Approval
              </button>
            </ion-col>
            <ion-col col-12 col-md-6>

              <ion-buttons end>
                <button ion-button type="submit">
                  Save
                </button>

                <button ion-button type="button">
                  Save &amp; Exit
                </button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>
    </ion-content>
  </ion-content>
</ion-split-pane>