<ion-split-pane>

	<ion-menu [content]="content">
		<ion-card-header padding-left padding-top padding-bottom text-uppercase class="card-wp-primary">
			<div padding-top padding-bottom margin-top margin-bottom text-center style="font-weight: bold">
				Project J
			</div>
		</ion-card-header>

	    <ion-list>
	      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
	        {{p.title}}
	      </button>
	    </ion-list>

	</ion-menu>

	<ion-content main #content swipeBackEnabled="false">
		<ion-header>

		  <ion-navbar>
		  	<button ion-button menuToggle>
		      <ion-icon name="menu"></ion-icon>
		    </button>
		    <ion-title>List Jobs</ion-title>
		  </ion-navbar>

		</ion-header>


		<ion-content padding>


			<ion-row>
				<ion-col>
					<h6 no-margin class="mobile-hidden">Filters</h6>
				</ion-col>
				<ion-col>
					<ion-buttons end>
						<button ion-button small (click)="goToAddJob()">
							Add New Job
						</button>
					</ion-buttons>
				</ion-col>
			</ion-row>

			<div class="filters filters__wrap flex bottom">
				<div class="filters__search">
					<ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a Job Role"></ion-searchbar>
				</div>
				<div class="bt-dropdown" [class.open]="filterOptions.role.open" >
					<!-- .... On click of this button, add class "open" to the parent div "bt-dropdown" .... -->
					<!-- .... just adding the class will show the dropdown .... -->
					<button ion-button small color="dark" outline no-margin class="bt-dropdown__btn button-drop" (click)="toggleDrop('role')">
						Sub Industry <ion-icon name="ios-arrow-down" class="hidden-xs icon-small"></ion-icon>
					</button>
					<div class="bt-dropdown__dd">
						<ion-list >
							<ion-item *ngFor="let subind of indSubInd;let ind=index;">
							  <ion-label no-padding>{{subind.value}}</ion-label>
							  <ion-checkbox (ionChange)="updateSubIndFilter(subind.key, $event.checked, ind)"></ion-checkbox>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="bt-dropdown" [class.open]="filterOptions.status.open" >
					<!-- .... On click of this button, add class "open" to the parent div "bt-dropdown" .... -->
					<!-- .... just adding the class will show the dropdown .... -->
					<button ion-button small color="dark" outline no-margin class="bt-dropdown__btn button-drop" (click)="toggleDrop('status')">
						Status <ion-icon name="ios-arrow-down" class="hidden-xs icon-small"></ion-icon>
					</button>
					<div class="bt-dropdown__dd">
						<ion-list >
							<ion-item *ngFor="let jobStatus of allJobStatus;let ind=index;">
							  <ion-label no-padding>{{jobStatus.value}}</ion-label>
							  <ion-checkbox (ionChange)="updateStatusFilter(jobStatus.key, $event.checked, ind)"></ion-checkbox>
							</ion-item>
						</ion-list>
					</div>
				</div>


				<button ion-button small class="btn-apply" clear no-margin (click)="applyFilter()">Apply</button>
				<button ion-button small color="secondary" no-margin class="btn-reset" clear (click)="resetFilter()"><span class="visible-xs">Reset</span> <ion-icon name="md-refresh" class="hidden-xs icon-small"></ion-icon></button>
			</div>

			<ion-card padding>
				<div class="tabular" margin-top>
					<div class="tabular__header flex hidden-xs">
						<div class="tabular__cell cell-half">
							Job Role
						</div>
						<div class="tabular__cell cell-one-fourth">Sub-industry
								<!-- <ion-icon name="funnel" class="bt-dropdown__btn button-drop" (click)="toggleDrop('status')"></ion-icon> -->
						</div>
						<div class="tabular__cell cell-one-fourth">Status

						</div>
					</div>
				<div class="tabular__row flex" *ngFor="let job of jobs">
					<div class="tabular__cell cell-half"><a href="/#/jobs/edit/{{job.key}}">{{job.designation}}</a></div>
					<div class="tabular__cell cell-one-fourth">{{job.sub_industry}}</div>
					<div class="tabular__cell cell-one-fourth">{{jobStatuses[job.value['job_status']]}}</div>
				</div>
				</div>
			</ion-card>



		</ion-content>
	</ion-content>

</ion-split-pane>