page-customer-login {
  .login-help{
    margin-top: 22px;
    margin-top: 3.75vh;
    font-size: 16px;
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
  }

  form{
    margin: 0 24px;
  }

  .mob-input{
    border-bottom: 2px solid $lining;
    margin-top: 40px;
    .label, .text-input{
      font-size: 28px;
      color: $dark-text;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .label{
      margin-top: 11px;
    }

    &.item-block{
      .item-inner{
        border-bottom: 0;
      }
    }
  }

  ion-footer{
    button{
      &[disabled], &[ion-button][disabled]{
        background-color: $light-text;
        opacity: 1;
      }
    }
  }
    // form {
    //   margin-bottom: 32px;
    //   button {
    //     margin-top: 20px;
    //   }
    // }


    // ion-label {
    //   margin-left: 5px;
    // }

    // ion-input {
    //   padding: 5px;
    // }

    // .error-message .item-inner {
    //   border-bottom: 0 !important;
    // }

}
