// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'AvenirNext';
    src: url('../assets/fonts/Avenir_Next_Regular/Avenir_Next_Regular.otf') format('otf');
    src: url('../assets/fonts/Avenir_Next_Regular/Avenir_Next_Regular.eot') format('embedded-opentype'),
             url('../assets/fonts/Avenir_Next_Regular/Avenir_Next_Regular.woff2') format('woff2'),
             url('../assets/fonts/Avenir_Next_Regular/Avenir_Next_Regular.woff') format('woff'),
             url('../assets/fonts/Avenir_Next_Regular/Avenir_Next_Regular.ttf') format('truetype'),
             url('../assets/fonts/Avenir_Next_Regular/Avenir_Next_Regular.svg#Avenir_Next_Regular') format('svg');
    font-weight: 400;
   	font-style: regular;
}
@font-face {
    font-family: 'AvenirNext';
    src: url('../assets/fonts/Avenir_Next_Medium/Avenir_Next_Medium.otf') format('otf');
    src: url('../assets/fonts/Avenir_Next_Medium/Avenir_Next_Medium.eot') format('embedded-opentype'),
             url('../assets/fonts/Avenir_Next_Medium/Avenir_Next_Medium.woff2') format('woff2'),
             url('../assets/fonts/Avenir_Next_Medium/Avenir_Next_Medium.woff') format('woff'),
             url('../assets/fonts/Avenir_Next_Medium/Avenir_Next_Medium.ttf') format('truetype'),
             url('../assets/fonts/Avenir_Next_Medium/Avenir_Next_Medium.svg#Avenir_Next_Medium') format('svg');
    font-weight: 500;
   	font-style: regular;
}
@font-face {
    font-family: 'AvenirNext';
    src: url('../assets/fonts/Avenir_Next_Bold/Avenir_Next_Bold.otf') format('otf');
    src: url('../assets/fonts/Avenir_Next_Bold/Avenir_Next_Bold.eot') format('embedded-opentype'),
             url('../assets/fonts/Avenir_Next_Bold/Avenir_Next_Bold.woff2') format('woff2'),
             url('../assets/fonts/Avenir_Next_Bold/Avenir_Next_Bold.woff') format('woff'),
             url('../assets/fonts/Avenir_Next_Bold/Avenir_Next_Bold.ttf') format('truetype'),
             url('../assets/fonts/Avenir_Next_Bold/Avenir_Next_Bold.svg#Avenir_Next_Bold') format('svg');
    font-weight: 600;
   	font-style: regular;
}

.header{
	.toolbar{
		padding: 8px;
		// margin-top: 20px;
		.toolbar-background{
			background-color: #fff;
			border-color: #ebebea;
			border-width: 0.55px 0 0.55px !important;
			border-style: solid;
		}
		.bar-button{
			font-size: 2.2rem;
		}
		.toolbar-title{
			font-weight: 500;
			font-size: 1.7rem;
			color: #1d212a;
		}
	}

	.bar-buttons-md{
		// order: 1;
	}
}

.show-page{
	.content{
		background-color: #fafafa;
	}
}
