<ion-split-pane>

	<ion-menu [content]="content">
		<ion-card-header padding-left padding-top padding-bottom text-uppercase class="card-wp-primary">
			<div padding-top padding-bottom margin-top margin-bottom text-center style="font-weight: bold">
				Project J
			</div>
		</ion-card-header>

	    <ion-list>
	      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
	        {{p.title}}
	      </button>
	    </ion-list>

	</ion-menu>

	<ion-content main #content swipeBackEnabled="false">
		<ion-header>

		  <ion-navbar>
		  	<button ion-button menuToggle>
		      <ion-icon name="menu"></ion-icon>
		    </button>
		    <ion-title>List Jobs</ion-title>
		  </ion-navbar>

		</ion-header>


		<ion-content padding>

			<!-- <ion-list>
				<ion-card padding>
					<ion-row>
						<ion-col col-4>
							Job Role
						</ion-col>
						<ion-col col-4>
							Sub-industry
						</ion-col>
						<ion-col col-4>
							Status
						</ion-col>
					</ion-row>
				</ion-card>
				<ion-item padding-left padding-right>
					<ion-row>
						<ion-col col-4>
							Vegetarian Cook
						</ion-col>
						<ion-col col-4>
							Cook
						</ion-col>
						<ion-col col-4>
							Draft
						</ion-col>
					</ion-row>
				</ion-item>
				<ion-item padding-left padding-right>
					<ion-row>
						<ion-col col-4>
							Security guard for XYZ High School
						</ion-col>
						<ion-col col-4>
							Security
						</ion-col>
						<ion-col col-4>
							Published
						</ion-col>
					</ion-row>
				</ion-item>
				<ion-item padding-left padding-right>
					<ion-row>
						<ion-col col-4>
							Nanny for a new born
						</ion-col>
						<ion-col col-4>
							Maid
						</ion-col>
						<ion-col col-4 class="small">
							Archived
						</ion-col>
					</ion-row>
				</ion-item>
			</ion-list> -->

			<ion-row>
				<ion-col>
					<h6 no-margin>Filters</h6>
				</ion-col>
				<ion-col>
					<ion-buttons end>
						<button ion-button small (click)="goToAddJob()">
							Add New Job
						</button>
					</ion-buttons>
				</ion-col>
			</ion-row>

			<div class="filters flex bottom">

				<div class="bt-dropdown" [class.open]="filterOptions.role.open" >
					<!-- .... On click of this button, add class "open" to the parent div "bt-dropdown" .... -->
					<!-- .... just adding the class will show the dropdown .... -->
					<button ion-button small color="dark" outline no-margin class="bt-dropdown__btn button-drop" (click)="toggleDrop('role')">
						Job Role <ion-icon name="ios-arrow-down" class="hidden-xs icon-small"></ion-icon>
					</button>
					<div class="bt-dropdown__dd">
						<ion-list >
							<ion-item>
							  <ion-label no-padding>Role 1</ion-label>
							  <ion-checkbox ></ion-checkbox>
							</ion-item>
							<ion-item>
							  <ion-label no-padding>Role 2</ion-label>
							  <ion-checkbox ></ion-checkbox>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="bt-dropdown" [class.open]="filterOptions.status.open" >
					<!-- .... On click of this button, add class "open" to the parent div "bt-dropdown" .... -->
					<!-- .... just adding the class will show the dropdown .... -->
					<button ion-button small color="dark" outline no-margin class="bt-dropdown__btn button-drop" (click)="toggleDrop('status')">
						Status <ion-icon name="ios-arrow-down" class="hidden-xs icon-small"></ion-icon>
					</button>
					<div class="bt-dropdown__dd">
						<ion-list >
							<ion-item>
							  <ion-label no-padding>Published</ion-label>
							  <ion-checkbox ></ion-checkbox>
							</ion-item>
							<ion-item>
							  <ion-label no-padding>Draft</ion-label>
							  <ion-checkbox ></ion-checkbox>
							</ion-item>
							<ion-item>
							  <ion-label no-padding>Archived</ion-label>
							  <ion-checkbox ></ion-checkbox>
							</ion-item>
							<ion-item>
							  <ion-label no-padding>Pending Review</ion-label>
							  <ion-checkbox ></ion-checkbox>
							</ion-item>
						</ion-list>
					</div>
				</div>


				<button ion-button small class="btn-apply" clear no-margin>Apply</button>
				<button ion-button small color="secondary" no-margin class="btn-reset" clear><ion-icon name="md-refresh" class="hidden-xs"></ion-icon><span class="visible-xs">Reset</span></button>
			</div>

			<div class="tabular" margin-top>
				<div class="tabular__header flex hidden-xs">
					<div class="tabular__cell cell-half">
						Job Role
					</div>
					<div class="tabular__cell cell-one-fourth">Sub-industry
							<ion-icon name="funnel" class="bt-dropdown__btn button-drop" (click)="toggleDrop('status')"></ion-icon>
					</div>
					<div class="tabular__cell cell-one-fourth">Status
							<ion-icon name="funnel" class="bt-dropdown__btn button-drop" (click)="toggleDrop('status')"></ion-icon>
					</div>
				</div>
				{{jobs}}
				<div class="tabular__row flex" *ngFor="let job of jobs">
					<div class="tabular__cell cell-half">{{job.designation}}</div>
					<div class="tabular__cell cell-one-fourth">{{job.sub_industry}}</div>
					<div class="tabular__cell cell-one-fourth">{{jobStatuses[job.value['job_status']]}}</div>
				</div>

				<!-- <div class="tabular__row flex">
					<div class="tabular__cell cell-half">Vegetarian Cook</div>
					<div class="tabular__cell cell-one-fourth">Cook</div>
					<div class="tabular__cell cell-one-fourth">Draft</div>
				</div>
				<div class="tabular__row flex">
					<div class="tabular__cell cell-half">Security guard for XYZ High School</div>
					<div class="tabular__cell cell-one-fourth">Security</div>
					<div class="tabular__cell cell-one-fourth">Published</div>
				</div>
				<div class="tabular__row flex">
					<div class="tabular__cell cell-half">Nanny for a new born</div>
					<div class="tabular__cell cell-one-fourth">Maid</div>
					<div class="tabular__cell cell-one-fourth">Archived</div>
				</div>
				<div class="tabular__row flex">
					<div class="tabular__cell cell-half">House Maid</div>
					<div class="tabular__cell cell-one-fourth">Maid</div>
					<div class="tabular__cell cell-one-fourth">Pending Review</div>
				</div> -->
			</div>


		</ion-content>
	</ion-content>

</ion-split-pane>